<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<body>
	<header>
		<h1>Welcome</h1>
	</header>
	
	<div id="container1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<body>